/.clang_complete
/GPATH
/GRTAGS
/GTAGS
/README.md
/build/CMakeCache.txt
build
*.fls
*.pdf
*.tex
*.fdb_latexmk
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vscode/c_cpp_properties.json
